
<section class="bg-primary">
  <div class="container">
    <h2 class="heading">Articles</h2>
    <button class="bg-btn" (click)="showJavaArticles()">Java</button>
    <button class="bg-btn" (click)="showAngularArticles()">Angular</button>
    <button class="bg-btn" (click)="showFavoriteArticles()">Favorite</button>
    <ul>
      <li *ngFor="let article of articles$ | async">
        {{ article.id }} - {{ article.title }} - {{ article.category }}
      </li>
    </ul>
  </div>
</section>

<style>
   .bg-primary{
      display: flex;
      justify-content: center;
   }
   .heading{
      font-size: 24px;
      text-align: center;
   }
   .bg-btn{
      background-color: black;
      color: white;
      border-radius: 4px;
      border: none;
      width: 80px;
      height: 25px;
      margin: 0px 5px;
   }
</style>

